# Game Development

In [30]:
# libraries
import pandas as pd
import numpy as np
import altair as alt

Group Members:

#### Author contributions

Author 1 contributed ...

Author 2 contributed ...

#### Abstract

Prepare an abstract *after* you've written the entire report. The abstract should be 4-6 sentences summarizing the report contents. Typically:
* the first 1-2 sentences introduce and motivate the topic;
* the next 1-2 sentences state the aims;
* the next 1-2 sentences state the findings.

---
## Background: Sales of videogames 

Videogames have been an increasingly popular form of entertainment coming out of the crash of 1983 to the present pushing computational hardware, content creation, competitive play, and opening many commercial opportunities along the way. Titles or the games themselves have existed through various means such as consoles or specifically curated hardware from companies such as Sony with their Playstation series of console, Microsoft with Xbox consoles, and Nintendo with their most recent Switch console. Another popular option in terms of hardware comes through custom built computers.
<br>

In [39]:
vg_sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<blockquote> 
<p>
    <strong>Figure 1</strong>: Shows the total number of video game sold globally from 1980 - 2016.
</p>
</blockquote>

In [46]:
from IPython.display import HTML
html1 = '<img src="https://i.guim.co.uk/img/media/7c2ab1a3e60e445caf0a4d3de302591e830e8f7f/0_0_3800_2280/master/3800.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=49331bc571155fab736c3ce179f31770" width="240" height="240" align="center"/>'
HTML(html1)

In [47]:
vg_sales = pd.read_csv('vgsales.csv')
vg_sales_mod = vg_sales.dropna(0)
vg_sales_mod2 = vg_sales_mod.groupby('Year').sum().reset_index()
alt.data_transformers.disable_max_rows()
alt.Chart(vg_sales_mod2).mark_bar().encode(
    x=alt.X('Year'),
    y=alt.Y('Global_Sales') #sum sales
)

alt.Chart(...)

--- 
## 1. Data Description

The data are recorded number of sales in games from year 1980 through 2020 that had sold more than 100,000 copies.

### Basic Information

The data can be found on https://www.kaggle.com/arslanali4343/sales-of-video-games. The intention for the collection of the data was not specified by the user who collected the data. In relevance to the source of data, it is known that the data values was web scraped off the website https://www.vgchartz.com/ using the python library Beautiful Soup, which is known to pull data from HTML or XML documents. The relevant population is the popular games introduced to the game market since 1980 and the sampling mechanism was specifically framed around games that totalled up to more than 100,000 copies sold. Additionally, it is substantial to claim that the scope of inference can be extended to games leaning more towards consoles (data is limited in that it does not contain the entirety of the Steam and other platforms) that are currently out for sale in the game market.

### Data Structure

For this study, the observational units are popular games published between 1980 and 2017, with the variables consisting of the rank,

<blockquote> 
<p>
    <strong>Table 1</strong>: Variable Descriptions and units for each variable are in the dataset.
</p>
</blockquote>

Name | Variable description | Type | Units of measurement
---|---|---|---
Rank | Ranking of Overall Sales | Numeric | Rank Numbers
Name | Name of The Game | String | Game Names
Platform | Platform of Game Release | String | Game Platforms
Year | Year of Game Release | Numeric | Calendar Year
Genre | Genre of The Game | String | Game Genres
Publisher | Publisher of The Game | String | Game Companies
NA_Sales | Total Sales in North America | Numeric | in Millions
EU_Sales | Total Sales in Europe | Numeric | in Millions
JP_Sales | Total Sales in Japan | Numeric | in Millions
Other_Sales | Total Sales in Rest of the World | Numeric | in Millions
Global_Sales | Total Sales Worldwide | Numeric | in Millions

---
## 2. Methods

---
## 3. Results

---
## 4. Conclusion